@model  ASWebApp.Models.ImageViewModel
@*@model string*@

@*@{
    ViewBag.Title = "Home";
}*@

<h2>Algae Score</h2>

<div>
    <img src="/Process/ColorImage/@Model.Image1" />
</div>
<div>
    <img src="/Process/blackAndWhite/@Model.Image2" />
    
</div>