@model List<ASWebApp.Models.ImageViewModel>
@{
    ViewBag.Title = "index";
}

<h2>Index</h2>


@foreach (var item in Model)
{
    <img src="@item.Image" alt="Algae Images" />
    //TODO Make an action link to points to a new view of one image

    @*<li>
        @Html.ActionLink("")
    </li>*@
}